@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

:root {
  --bg-color: #212529;
  --text-red: #f83d3d;
  --text-white: #ffffff;
  --bg-black: #101219;
  --bg-light: #ffffff;
  --text-light-black: #7e7e7e;
  --text-red-light: #b30032;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}